:root {
  --primary-color: rgba(255, 165, 91, 1);
  --secondary-color: rgba(255, 212, 91, 1);
}

canvas {
  animation: fadeIn 1s;
  display: block;
  margin: auto;
  width: 100%;
  max-height: 400px;
}

.modal-dialog {
  top: 16%;
}

.formButtons {
  margin: 1.5rem;
  margin-left: 0;
  min-height: 40px;
}

.formButtons > * {
  margin-right: 3rem;
  min-width: 12rem;
}

.btn-warning {
  color: #FFFFFF !important;
}

@media only screen and (max-width: 767px) {
  .formButtons {
    margin: 1.5rem;
    display: flex;
  }

  .formButtons > * {
    min-width: 45%;
    margin: auto;
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.fadeIn {
  animation: fadeIn 1s;
}
