.chart {
  position: relative;
}

.chartTitle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem;
  font-style: oblique;
  color: gray;
  padding: 0.5rem;
  background-color: white;
  opacity: .8;
  border-radius: 1.5rem;
}
