.scenariosDescription {
  font-style: italic;
  margin-left: .5em;
}

.scenariosHeader {
  margin-top: 1.5rem;
  font-size: 36px;
  font-weight: 400;
}

.reportscenariosList {
  padding: 1.5rem;
}

.scenario {
  margin-top: 1.5rem;
  background-color: grey;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 4px 0px rgba(35, 41, 51, 0.2);
}

.scenario:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.scenario > .collapse {
  font-size: 1.0em;
}

.scenarioDetailsRow {
  margin-left: 1rem;
  line-height: 1.5em;
  font-size: 1em;
}

.scenarioDetailsParam {
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}

.scenarioDetailsValue {
  margin-left: 1rem;
  font-style: italic;
  display: inline-block;
}

.scenarioListButtons > .filters {
  display: inline-block;
}

.scenarioPagination {
  display: inline-block;
}

.scenarioDetailsValue > p {
  margin-bottom: 0;
  font-size: .8em;
}

.passedScenario {
  background-color: rgba(45, 243, 129, 0.1);
}

.failedScenario {
  background-color: rgba(243, 129, 45, 0.1);
}

.pendingScenario {
  background-color: rgba(227, 239, 59, 0.1);
}

@media only screen and (max-width: 767px) {
  .scenarioDetailsRow {
    line-height: 1.5em;
    margin-left: unset;
  }

  .scenario {
    font-size: 0.8em;
    word-break: break-all;
    hyphens: auto;
  }

  .scenarioDetailsValue > p {
    word-break: break-all;
    hyphens: auto;
  }
}
