.detailsContainer {
  height: 100%;
  margin-top: 22px;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 20px auto auto;
  margin-bottom: 4rem;
}

.detailsHeader {
  white-space: nowrap;
  grid-column: 1 / 7;
}

.detailsName {
  font-size: 52px;
}

.detailsButtons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1rem;
  grid-column: 7 / -1;
}

.detailsButtons > .btn {
  margin-left: .5em;
}

.detailsTotal {
  grid-column: 1 / 5;
  font-style: italic;
  margin-left: .5em;
}

.detailsContent {
  grid-column: 1 / -1;
  height: 100%;
  position: relative;
}

.detailsContent canvas {
  height: 400px !important;
}

.detailsExtraContent {
  grid-column: 1 / -1;
}

.chart > div {
  height: 80%;
}

.filters {
  margin: 1.5rem;
  min-height: 40px;
}

#chart-pills {
  cursor: pointer;
  float: right;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .detailsContainer {
    display: grid;
    grid-template-rows: auto 20px auto auto auto;
    grid-template-areas:
        "h"
        "s"
        "c"
        "d"
        "e";
    grid-template-columns: auto;
    grid-gap: 0;
    margin-bottom: 6em;
  }

  .detailsHeader {
    white-space: pre-wrap;
    grid-area: h;
  }

  .detailsContent {
    grid-area: c;
  }

  .detailsExtraContent {
    grid-area: e;
  }

  .chart {
    grid-area: c;
  }

  .detailsButtons {
    grid-area: d;
    margin: unset;
    grid-column: unset;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
  }

  .detailsButtons > .btn {
    margin: auto;
    width: 30rem;
  }

  .detailsTotal {
    grid-area: s;
  }

  .filters {
    display: flex;
  }

  #chart-pills {
    width: 30rem;
    margin: auto;
    display: inline-flex;
  }

  #chart-pills > li {
    text-align: center;
    flex-grow: 1;
  }
}
