.homeContainer {
  margin-top: 4em;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLogo {
  margin-top: 1em;
  margin-bottom: 1em;
}

.homeLogin {
  margin-top: 1em;
}
