.projectsList {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  margin-bottom: 4em;
}

.emptyList {
  grid-column: 1 / -1;
  margin-bottom: 4em;
}

@media only screen and (max-width: 767px) {
  .projectsList {
    grid-area: c;
    margin-bottom: 4em;
  }

  .emptyList {
    grid-area: c;
    margin-bottom: 4em;
  }
}
