.reportContainer {
  height: 100%;
  margin-top: 22px;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 20px auto;
  margin-bottom: 4rem;
}

.reportHeader {
  white-space: nowrap;
  grid-column: 1 / -1;
}

.reportId {
  font-size: 52px;
  font-weight: 400;
}

.reportCreated {
  grid-column: 1 / 6;
  animation: fadeIn 1s;
  font-style: italic;
  margin-left: .5em;
}

.reportDetails {
  grid-column: 1 / 6;
  margin-top: 1.5rem;
  padding: 1.5rem;
  max-width: 27rem;
  animation: fadeIn 1s;
  background-color: grey;
  font-size: 1em;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 4px 0px rgba(35, 41, 51, 0.2);
}

.reportChart {
  grid-column: 6 / -1;
  margin-top: 1.5rem;
  animation: fadeIn 1s;
}

@media only screen and (max-width: 767px) {
  .reportContainer {
    display: grid;
    grid-template-rows: 70px 20px auto auto;
    grid-template-areas:
        "h"
        "c"
        "t"
        "d";
    grid-template-columns: auto;
    grid-gap: 0;
    margin-bottom: 4rem;
  }

  .reportHeader {
    grid-area: h;
  }

  .reportCreated {
    grid-area: c;
  }

  .reportChart {
    grid-area: t;
  }

  .reportDetails {
    grid-area: d;
  }
}
